.homeImage {
  width: 600px;
}

.homeHeader {
  color: #fff;
  text-align: center;
  margin: 1rem 0;
}

.homeButton {
  padding: 0.5rem 1rem;
  background-color: green;
  color: #fff;
  border: none;
  border-radius: 3px;
  margin: 1rem 0;
  cursor: pointer;
}

.cocktailInf {
  color: #fff;
  margin-bottom: 1rem;
}
