.MainIngredient {
  color: #fff;
  text-align: center;
  h1 {
    margin: 1rem 0;
  }

  h2 {
    margin: 1rem 0;
  }
  h3 {
    margin: 1rem 0;
  }
}

.ingredient {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  li {
    text-decoration: underline;
    cursor: pointer;
  }
}
